.page {
    text-align: center;
    overflow: hidden;
}
.menu {
    height: 100px;
    background-color: aqua;
    border: 1px solid;
}
.content {
    height: 600px;
    width: 300px;
    background-color: yellow;
    float: left;
    border: 1px solid;
}
.sidebar {
    width: 200px;
    float: left;
    height: 300px;
    background-color: bisque;
    border: 1px solid;
}
.footer {
    clear: both;
    height: 200px;
    background-color: brown;
    border: 1px solid;
}
.clearfix {
    clear: both;
}
